<% if @user.errors.any? %>
    <div class="col-md-12">
      <div class="alert alert-danger" id="users_error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <div id="error_explanation">
          <h4><%= t('phrases.saving_error_sfx', error: pluralize(@user.errors.count, t('general.error'))) %>:</h4>
          <p>&nbsp;</p>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
<% end %>

<%- if !flash[:notice].nil? %>
    <div class="col-md-12">
      <div class="alert alert-success" id="users_error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <div id="error_explanation">

          <p>&nbsp;</p>
          <ul>
            <%= flash[:notice] %>
          </ul>
        </div>
      </div>
    </div>
<%- end %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <!--Logo Spectrum-->
      <div class="col-md-12">
        <img class="logo-image" src="/assets/spectrum-logo-white.png">
        <div class="text-alignment-left">
          <h1><%= t('general.register') %></h1>
          <div class="text-alignment-top">
            <h4><%= t('general.fill_up') %></h4>
          </div>
        </div>
      </div>
      <div class="col-md-12 box">
        <br/>
        <%= form_for(@user) do |v| %>
          <div class="form-group">
            <input type="text" class="form-control"  placeholder="<%= t('general.comp_name') %>">
          </div>
          <div class="form-group">
            <%= v.text_field(:email,:class=>"form-control", :placeholder=> t('users.email_add'))  %>
          </div>
          <div class="form-group">
            <%= v.text_field(:alias,:class=>"form-control", :placeholder=> t('users.alias'))  %>
          </div>
          <div class="form-group">
            <%= v.text_field(:username,:class=>"form-control", :placeholder=> t('users.username'))  %>
          </div>
          <div class="form-group">
            <%= v.text_field(:password,:class=>"form-control", :placeholder=> t('general.password'))  %>
          </div>
          <div class="form-group">
            <%= v.text_field(:confirmed_password,:class=>"form-control", :placeholder=> t('general.re-password'))  %>
          </div>
          <div class="form-group">
            <%= v.check_box :terms %><%= t('general.agree') %><a href="#">&nbsp;<%= t('users.condition') %></a> and <a href="#"><%= t('users.privacy') %></a>.
          </div>
          <div class="form-group">
            <%= v.submit t('users.sign_up'),class: 'btn btn-green'  %>
          </div>

          <div class="form-group">
            <a href="<%= login_users_path %>" role="button" class="btn btn-green"><%= t('general.back') %></a>
          </div>
        <% end %>
        <div class="col-md-12">
          <br/>
        </div>
      </div>

    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>