<!DOCTYPE html>
<html>
<head>
  <title>AphellionAngela</title>
  <%#= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%#= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <%= csrf_meta_tags %>
</head>
<body class="group">
    <div id="wrapper">
      <%= render partial:'layouts/sidebar' %>
      <div id="page-content-wrapper">
        <%= render partial:'layouts/header' %>
        <%= yield %>
      </div>
    </div>
</body>
</html>
